USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[ResourceIndustryType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[ResourceIndustryType] AS TABLE(
	[IndustryTypesId] [int] NULL
)
GO
