USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[SectionPairsType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[SectionPairsType] AS TABLE(
	[TempId] [int] NULL,
	[Id] [int] NULL
)
GO
