USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[ResourceDemographicsType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[ResourceDemographicsType] AS TABLE(
	[DemographicTypesId] [int] NULL
)
GO
