USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[ResourceComplianceType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[ResourceComplianceType] AS TABLE(
	[ComplianceTypesId] [int] NULL
)
GO
