USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[ResourceListType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[ResourceListType] AS TABLE(
	[ResourceId] [int] NULL
)
GO
