USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[QuestionIdType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[QuestionIdType] AS TABLE(
	[questionId] [int] NULL
)
GO
