USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[ResourceSpecialTopicsType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[ResourceSpecialTopicsType] AS TABLE(
	[SpecialTopicId] [int] NULL
)
GO
