USE [C80]
GO
/****** Object:  UserDefinedTableType [dbo].[ResourceCapitalType]    Script Date: 12/12/2019 2:01:12 PM ******/
CREATE TYPE [dbo].[ResourceCapitalType] AS TABLE(
	[CapitalTypesId] [int] NULL
)
GO
